/* Styles du menu 1 */ 

#menu_1{
position:relative;
top:20px;
left:50px;
}

.titles{
display:in-line;
float:left;
text-align:center;
width:200px;
margin-right:1px;
cursor:pointer;
}

.titles div{
height:40px;
}

.titles ul{
display:none;
width:200px;
height:200px;
margin:0px;
text-align:left;
overflow:hidden;
}

.titles li{
margin-bottom:15px;
width:200px;
}

#title_1{
background-image:url("../menus/images/bgTitle_1.jpg");
background-repeat:no-repeat;
}

#title_2{
background-image:url("../menus/images/bgTitle_2.jpg");
background-repeat:no-repeat;
}

#title_3{
background-image:url("../menus/images/bgTitle_3.jpg");
background-repeat:no-repeat;
}

#list_1{
background-image:url("../menus/images/bgList_1.jpg");
background-repeat:no-repeat;
}

#list_2{
background-image:url("../menus/images/bgList_2.jpg");
background-repeat:no-repeat;
}

#list_3{
background-image:url("../menus/images/bgList_3.jpg");
background-repeat:no-repeat;
}

/* Styles du menu 2 */ 

#menu_2{
position:relative;
top:80px;
left:50px;
width:151px;
}

.titles_2{
text-align:center;
margin:0px;
cursor:pointer;
background-color:#3D3D3D;
padding:15px;
}

#sous_menus_2{
position:relative;
top:-100px;
left:200px;
width:600px;
margin:0px;
}

.menu2_list{
display:none;
margin:0px;
text-align:left;
padding:10px;
position:absolute;
top:0px;
left:0px;
width:400px;
padding:25px;
}

.menu2_list ul{
margin:0px;
}

.menu2_list ul li{
margin:0px;
}

#title_1_2{
background-color:#4fbc14;
}
#list_1_2{
background-color:#4fbc14;
}

#title_2_2{
background-color:#00c0ff;
}
#list_2_2{
background-color:#00c0ff;
}

#title_3_2{
background-color:#ff1859;
}
#list_3_2{
background-color:#ff1859;
}

