body{
background-color:#000000;
padding:0;
margin:0;
height:100%;
background-image:url("../images/fond.png");
}

/* Style de base du div contenant le slideshow */
#miniatures{
position:absolute;
top:550px;
}

.mini{
display:in-line;
width:100px;
margin:20px;
border:solid 5px #FFFFFF;
}


#slideShow{
	position:relative;
	left:50px;
	top:50px;
	width:800px;
	height:400px;
	overflow:hidden;
}

#masque{
position:absolute;
top:0px;
left:0px;
}

/* Style de base de la liste d'images */
#thumbnails{
/*height:400px;*/
position:absolute;
left:0px;
top:0px;
/*overflow:auto;*/
cursor:pointer;
margin-left:0px;
}

/* Style de base des images */
.thumb{
	position:absolute;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	width:800px;
	height:400px;
}


/* Styles des boutons de contrôle */
#control{
position:absolute;
top:410px;
left:0px;
padding:6px;
width:800px;
height:40px;
background-color: rgba(0, 0, 0, 0.75);
}

/* Style de base des puces */
.puce{
float:left;
background-color:#d0d0d0;
width:20px;
height:20px;
cursor:pointer;
margin-left:4px;
margin-right:4px;
margin-top:2px;
border-radius: 10px / 10px;
font-family:Lucida Sans Unicode, Verdana, Arial;
font-weight:bold;
font-size:14px;
color:#41403e;
}

/* Style de la puce sélectionnée */
.puceSelect{
float:left;
background-color:#FFFFFF;
width:24px;
height:24px;
margin-left:2px;
margin-right:2px;
margin-top:0px;
border-radius: 12px / 12px;
}

/* Style de base de la consigne */
#consigne{
	margin-left:50px;
	color:#d0d0d0;
	font-family:Lucida Sans Unicode, Verdana, Arial;
	font-size:12px;
}


#ombre{
position:relative;
left:50px;
top:47px;
}

