:root{
	--font_title:'Fredoka One', cursive;
	--font_text: 'Roboto', sans-serif;
	--ma-variable: black;

	/*font-family:SourceCodeProExtraLight;*/
	/*font-family:'Orbitron', sans-serif;*/
	/*font-family:SourceCodeProSemibold;*/
	/*font-family:'Nunito', sans-serif;*/
}