<h2>Informations complémentaires</h2>

<p>Les langages à utiliser sont <em>HTML</em> et <em>CSS</em> <strong>uniquement</strong>.</p>
<p>Il s'agit d'un exercice purement technique. Le contenu n'a pas d'importance. Les textes utilisés sont fictifs ("<em>Lorem ipsum...</em>"). 
Vous pouvez les conserver tels quels ou bien les remplacer par des textes de votre choix.</p>

<h3>Site "one-page"</h3>
<p>Le site est réalisé en une seule page, scrollable. Un seul fichier <em>HTML</em> est donc attendu.</p>
<p>Pour réaliser la navigation entre les différentes parties, utilisez des liens internes (ex : "<em>#monlien</em>"),
ainsi que la <em>pseudo-classe CSS ":target"</em> pour définir le style des parties de contenu à afficher.</p>

<h3>Astuce</h3>
<p>Pour positionner le sommaire (ensemble des liens de navigation), donner la valeur <em>sticky</em> à la propriété <em>position</em> de l'élément <em>&lt;nav&gt;</em>.</p>