<h2>Ressources</h2>

<h3>Théorie HTML/CSS</h3>
<p>Vous pouvez, si-besoin, accéder au support de cours vu pendant le workshop de ce début d'année : <a href="http://www.max-dre.com/HTML" target="_blank">http://www.max-dre.com/HTML</a></p>
<p>Vous pouvez également vous référez à toute ressource disponible en ligne que vous jugerez pertinente.</p>
<p>La plupart des aspects de cet exercice sont réalisables à partir des notions abordées pendant le cours d'HTML/CSS de première année. 
Cependant, certains détails vous demanderont certainement de procéder à des recherches complémentaires.</p>
<h3>Médias</h3>
<p>L'ensemble des images utilisées sont téléchargeable ici : <a href="data/images.zip">images.zip</a></p>
<p>Aucune modification (redimensionnement ou retouche) des fichiers n'est nécessaire. Tout peut, et <strong>doit</strong> être fait directement en <em>CSS</em>.</p>

<h3>Fonts</h3>
<p>Les typographies utilisées sont disponibles sur <em>Google-Fonts :</em></p>
<ul>
    <li><strong>Goldman</strong> (<a href="https://fonts.google.com/?query=Goldman" target="_blank">https://fonts.google.com/?query=Goldman</a>)</li>
    <li><strong>Montserrat Alternates</strong> (<a href="https://fonts.google.com/specimen/Montserrat+Alternates?query=montse" target="_blank">https://fonts.google.com/specimen/Montserrat+Alternates?query=montse</a>)</li></ul>
<p>Pour les intégrer, copier-coller les deux lignes suivantes dans votre balise <em>&lt;head&gt;</em>...<em>&lt;/head&gt;</em> : </p>
<ul>
    <li><em>&lt;link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet"&gt;</em></li>
    <br/>
    <li><em>&lt;link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet"&gt;</em></li>
</ul>
<em>
