<h2>Sujet</h2>
<p>Ceci est un exercice de perfectionnement technique en intégration web, à réaliser en <strong>autonomie</strong>.</p>
<h3>Objectif principal :</h3>
<p>Il s'agit de reproduire le plus fidèlement possible le site web présenté en démonstration (vidéo et screenshots) ci-après :</p>
<p>
    <iframe width="650" height="366" src="https://www.youtube.com/embed/HyptANK5IR0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
    <a class="imgLink" href="img/screen-shot_01.jpg" target="_blank"><img src="img/screen-shot_01.jpg" alt="screenshot_01" /></a>
    <a class="imgLink" href="img/screen-shot_02.jpg" target="_blank"><img src="img/screen-shot_02.jpg" alt="screenshot_01" /></a>
</p>

<p>
    <strong>Vous devrez donc réaliser :</strong>
    <ul>
        <li>La structure du contenu (<em>HTML</em>)</li>
        <li>La mise en page et les effets graphiques (<em>CSS</em>)</li>
        <li>La navigation en mode "site one-page" (<em>HTML</em> + <em>CSS</em>)</li>
        <li>Les effets visuels d'apparition des éléments (<em>CSS</em>)</li>
        <li>Les effets visuels au survol des liens (<em>HTML</em> + <em>CSS</em>)</li>
    </ul>
</p>

<h3>Objectif secondaire :</h3>
<p>Imaginer les adaptations et réaliser les <em>media-queries</em> nécessaires pour rendre le site <strong>responsive</strong>.</p>